* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared class */

.inter-font {
  font-family: 'Inter', sans-serif;
}

.noto-font {
  font-family: 'Noto Serif', serif;
}

.basic-btn {
  padding: 19px 80px;
  background-color: #e95a08;
  color: white;
  font-size: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

.basic-btn:hover {
  background-color: #d44d00;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Navbar Style */

nav {
  margin: 20px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

nav li a {
  text-decoration: none;
  color: #8987a1;
  font-weight: bold;
  transition: color 0.4s;
}

nav li a:hover {
  color: #252432;
}

.cart-icon {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  gap: 2px;
  cursor: pointer;
}

/* Responsive Navbar */

@media screen and (max-width: 576px) {
  nav {
    margin: 30px;
  }

  nav ul li {
    display: none;
  }

  .cart-icon {
    margin-left: 0;
  }

  .logo img {
    width: 80px;
    height: 38px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  nav {
    margin: 20px 100px;
  }

  .logo img {
    width: 75px;
  }
}

/* Banner Section */

.banner-sec {
  margin: 120px 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-txt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.banner-txt h1 {
  font-size: 4rem;
  font-weight: bold;
}

.banner-txt span {
  color: #e95a08;
}

.banner-txt p {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  width: 90%;
}

/* Responsive banner */

@media screen and (max-width: 576px) {
  .banner-sec {
    margin: 50px 0px;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .banner-txt {
    margin: 0 20px;
  }

  .banner-txt p {
    font-size: 14px;
    width: 100%;
  }

  .banner-txt h1 {
    font-size: 1.5rem;
  }

  .banner-img img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .banner-sec {
    margin: 40px 0px;
    flex-direction: column-reverse;
    gap: 50px;
  }

  .banner-txt {
    margin: 0 50px;
  }

  .banner-img {
    width: 100%;
  }

  .banner-img img {
    width: 100%;
  }
}

/* Plants section style */

.plants-sec {
  margin: 120px 150px 200px 150px;
}

.plants-txt {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  margin-bottom: 50px;
}

.plants-txt h2 {
  font-size: 3rem;
  font-weight: bold;
}

.plants-txt span {
  color: #e95a08;
}

.plants-txt p {
  font-size: 1.4rem;
  opacity: 0.5;
}

.all-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}

.box {
  text-align: center;
}

.box img {
  margin-bottom: 30px;
}

.box h3 {
  font-size: 1.4rem;
  color: #111111;
  font-weight: 500;
  margin-bottom: 10px;
}

.box h4 {
  font-size: 1.4rem;
  color: #111111;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Responsive plants section */

@media screen and (max-width: 576px) {
  .plants-sec {
    margin: 65px 30px 40px 30px;
  }

  .all-boxes {
    grid-template-columns: repeat(2, 50%);
    column-gap: 10px;
  }

  .box img {
    width: 100%;
  }

  .basic-btn {
    padding: 19px 30px;
  }

  .box h3,
  .box h4 {
    font-size: 1rem;
  }

  .plants-txt h2 {
    font-size: 1.5rem;
  }

  .plants-txt p {
    font-size: 14px;
  }
}

